%h1 一緒に野球しようよ
- if user_signed_in?
  = link_to "トップに戻る", posts_path
  = link_to "ログアウト", destroy_user_session_path, :method => :delete
- else
  = link_to "ユーザーを登録する", new_user_registration_path
  %br/
  = link_to "ログインする", new_user_session_path
