* {
  box-sizing: border-box;
}
.wrapper {
  background: #f5f5f5;
}

.header{
  &__header-bar{
    background: url(http://www.webcreatorbox.com/sample/images/line.gif) repeat-x bottom left;
    padding-bottom: 15px;
    background-color: whitesmoke;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 80px;
    .a{
      color: steelblue;
    }
    &__title{
      padding-left: 5%;
      font-size: 30px;
      font-family: 'Amatic SC', cursive;
      
    }
    &__box{
      display: flex;
      justify-content: space-between;
      padding-right: 60px;
      width:400px;
      font-size: 20px;
      &__post{
        width: 40%;
        border-bottom: solid 6px slategrey;
        .btn-post{
          text-decoration: none;
          color: slategrey;
        }
      }
      &__user{
        width: 40%;
        border-bottom: solid 6px slategrey;
        .dropdown{
          text-decoration: none;
          color: slategrey;
          font-size: 20px;
          .btn{
            text-decoration: none;
            color: slategrey;
            font-size: 20px;
          }
          .dropdown-menu{
            text-align: center;
          }
        }
      }
    }
  }
}

.header-bar-picture{
  background-image: image-url("ball.jpg");
  height: 600px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  color: white;
  font-size: 50px;
  text-align: center;
  line-height: 400px;
  font-weight: 600;
  font-family: 'arial black';
  background-size: cover;
  background-position: center;
}

.header-bar-second{
  width: 100%;
  height: 62px;
  font-size: 20px;
  &__search{
    text-align: center;
    display: flex;
    padding-top: 30px;
    .search-form{
      margin: auto;
    }
  }
}

.header-bar-third{
  width: 100%;
  height: 100px;
  padding-top: 20px;
  &__information{
    text-align: center;
    line-height: 100px;
    font-size: 50px;
  }
}

.recruitment{
  display: flex;
  flex-wrap: wrap;
  padding: 0 90px;
  &__content{
    background-image: image-url("field.jpeg");
    background-size:cover;
    opacity:  0.7;
    height: 300px;
    width: 400px;
    padding: 40px;
    margin: 50px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    &__title{
      font-weight: 600;
      padding-bottom: 20px;
    }
    &__application-btn{
      padding-top: 30px;
      font-size: 14px;
      .btn--edit{
        display: inline-block;
        padding: 6px 20px 6px 20px;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        text-align: center;
        text-decoration: none;
        background: #47a3dd;
        color: floralwhite;
      }
    }
  }
}

.footer{
  width: 100%;
  height: 100px;
  background-image: image-url("ground.png");
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

// 編集
.header-title{
  width: 100%;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 50px;
  font-family: 'Source Code Pro', monospace;
}
.content{
  height: 100%;
  width: 60%;
  background-color: ghostwhite;
  margin: auto;
  padding: 2% 4%;
  margin-top: 20px;
  font-size: 18px;
  &__title{
    display: flex;
    padding-bottom: 5%;
    .title-box{
      padding-left: 5px;
      width: 85%;
      margin-left: 30px;

    }
  }
  &__date{
    display: flex;
    padding-bottom: 5%;
    .date-box{
      margin-left: 45px;

    }
  }
  &__area{
    display: flex;
    padding-bottom: 5%;
    .area-box{
      margin-left: 45px;

    }
  }
  &__place{
    display: flex;
    padding-bottom: 5%;
    .postal-box{
      padding-left: 5px;
      margin-left: 60px;
      width: 13%;

    }
    .place-box{
      padding-left: 5px;
      margin-left: 10px;
      width: 71%;

    }
  }
  &__venue{
    display: flex;
    padding-bottom: 5%;
    .venue-box{
      padding-left: 5px;
      margin-left: 45px;
      width: 300px;

    }
  }
  &__capacity{
    display: flex;
    padding-bottom: 5%;
    .capacity-box{
      padding-left: 5px;
      margin-left: 60px;
      width: 60px;

    }
  }
  &__remarks{
    display: flex;
    padding-bottom: 5%;
    .remarks-box{
      padding-left: 5px;
      margin-left: 60px;
      width: 85%;
      height: 150px;
    }
  }
  &__upload{
    margin-right: 20px;
    display: flex;
    .upload-box{
      margin: auto;
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      background: #668ad8;
      color: #FFF;
      border-bottom: solid 4px #627295;
      border-radius: 3px;
      cursor: pointer;
    }
    .upload-box:active {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
      border-bottom: none;
    }
    &__destroy{
      font-size: 40px;
    }
  }
}

.post-done{
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-bottom: 100px;
  &__success{
    font-size: 40px;
    line-height: 100px;
    padding: 40px;
  }
  &__home{
    font-weight: bold;
    border: solid 3px #000000;
    width: 300px;
    margin: auto;
    width: 150px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 110px;
    .btn-root{
      color: black;
      text-decoration: none;
    }
  }
}


.show-content{
  width: 100%;
  &__show-title{
    height: 70px;
    line-height: 100px;
    text-align: center;
    font-size: 190%;
    font-weight: bold;
    margin-top: 20px;
  }
  &__show-application{
    height: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    &__form-group{
      padding-top: 30px;
    }
    .apply-btn{
      display:block;
      margin: auto;
      width: 150px;
      height:50px;
      line-height: 50px;
      color: #FFF;
      text-decoration: none;
      text-align: center;
      background-color: #f39800;
      border-radius: 5px;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      cursor: pointer;
    }
  }
  &__data{
    width: 40%;
    margin: auto;
    margin-bottom: 100px;
    font-size: 17px;
    font-weight: bold;
    &__show-name{
      border-top: solid 1px gray;
      padding: 12px 0;
    }
    &__show-date{
      border-top: solid 1px gainsboro;
      padding: 12px 0;
    }
    &__show-place{
      border-top: solid 1px gainsboro;
      padding: 12px 0;
      display: flex;
      &__title{
        width: 18%;
        padding-left: 5%;
      }
      &__box{
        &__postal{
        }
        &__write{
        }
      }
    }
    &__show-venue{
      border-top: solid 1px gainsboro;
      padding: 12px 0;
    }
    &__show-capacity{
      border-top: solid 1px gainsboro;
      padding: 12px 0;
    }
    &__show-remarks{
      border-top: solid 1px gainsboro;
      padding-top: 12px;
      display: flex;
      &__title{
        width: 18%;
        padding-left: 5%;
      }
      &__write{
        // padding-left: 20px;
      }
    }
  }
}

.search-top{
  text-align: center;
}

// レスポンシブ
@media screen and (max-width: 480px){
  
  .header__header-bar__title{
    font-size: 120%;
  }

  .header__header-bar__box{
    width: 30%;
    padding-right: 35%;
    &__post{
      width: 120px;
      background: #3ccec2ba;
      text-align: center;
      border-radius: 50%;
      bottom: 0;
      left: 0;
      position: fixed;
      padding: 15px;
      z-index: 1;
      border-bottom: none;
      .btn-post{
        text-decoration: none;
        color: #FFF;
      }
    }
    &__user{
      border-bottom: 0em;
    }
  }

// ヘッダー写真
  .header-bar-picture{
    height: 220px;
    font-size: 20px;
    line-height: 80px;
  }

// 投稿
  .header-bar-third__information{
    font-size: 40px;
  }
  .recruitment{
    padding: inherit;
    &__content{
      background-position: center;
    }
  }

// 詳細ページ
  .show-content__data{
    width: 90%;
  }
  
  .show-content__data__show-place__title{
    padding-left: 10%;
    width: 40%;
  }

  .show-content__data__show-remarks__title{
    padding-left: 10%;
    width: 36%;
  }

// 編集
  .header-title{
    font-size: 30px;
    height: 90px;
    line-height: 105px;
  }
  .content{
    width: 90%;
    &__title{
      display: block;
      margin-bottom: 1%;
      .title-box{
        width: 100%;
        margin-left: auto;
      }
    }
    &__date{
      display: block;
      margin-bottom: 1%;
      .date-box{
        margin-left: auto;
      }
    }
    &__area{
      display: block;
      margin-bottom: 1%;
      .area-box{
        margin-left: auto;
      }
    }
    &__place{
      display: block;
      margin-bottom: 1%;
      .postal-box{
        width: 100%;
        margin-left: auto;
      }
      .place-box{
        width: 100%;
        margin-left: auto;
      }
    }
    &__venue{
      display: block;
      .venue-box{
        width: 100%;
        margin-left: auto;
      }
    }
    &__capacity{
      display: block;
      .capacity-box{
        width: 100%;
        margin-left: auto;
      }
    }
    &__remarks{
      display: block;
      .remarks-box{
        width: 100%;
        margin-left: auto;
      }
    }
  }
}