* {
  box-sizing: border-box;
}
.wrapper {
}

.header{
  &__header-bar{
    background: url(http://www.webcreatorbox.com/sample/images/line.gif) repeat-x bottom left;
    padding-bottom: 15px;
    background-color: whitesmoke;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 80px;
    &__title{
      padding-left: 50px;
      font-size: 30px;
      font-family: 'Amatic SC', cursive;
      
    }
    &__box{
      display: flex;
      justify-content: space-between;
      padding-right: 60px;
      width:400px;
      font-size: 20px;
      &__post{
        width: 40%;
        border-bottom: solid 6px slategrey;
        .btn-post{
          text-decoration: none;
          color: slategrey;
        }
      }
      &__user{
        width: 40%;
        border-bottom: solid 6px slategrey;
        .btn-edit{
          text-decoration: none;
          color: slategrey;
        }
      }
    }
  }
  &__header-bar-picture{
    background-image: url("ball.jpg");
    height: 400px;
    width: 48%;
    margin: auto;
    margin-top: 20px;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 200px;
    font-weight: 600;
    font-family: 'arial black';
  }
  &__header-bar-second{
    width: 100%;
    height: 62px;
    &__search{
      text-align: center;
      line-height: 62px;
      input{
        
      }
    }
  }
  &__header-bar-third{
    width: 100%;
    height: 72px;
    &__information{
      text-align: center;
      line-height: 72px;
      font-size: 40px;
    }
  }
}

.recruitment{
  display: flex;
  flex-wrap: wrap;
  padding: 0 90px;
  &__content{
    background-image: url("野球場.jpeg");
    background-size:cover;
    opacity:  0.7;
    height: 300px;
    width: 400px;
    padding: 40px;
    margin: 50px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    &__title{
      font-weight: 600;
      padding-bottom: 20px;
    }
    &__application-btn{
      padding-top: 20px;
    }
  }
}

.footer{
  width: 100%;
  height: 100px;
  background-image: url("ground.png");
  background-size: 2000px;
}

.header-title{
  width: 100%;
  height: 150px;
  padding-left: 500px;
  line-height: 150px;
  font-size: 50px;
  font-family: 'Source Code Pro', monospace;
}

.content{
  height: 100%;
  width: 70%;
  background-color: ghostwhite;
  margin: auto;
  padding: 20px 30px;
  margin-top: 20px;
  font-size: 18px;
  &__title{
    height: 30px;
    display: flex;
    padding-bottom: 50px;
    .title-box{
      padding-left: 5px;
      width: 740px;
      margin-left: 30px;
      height: 30px;
    }
  }
  &__date{
    height: 30px;
    display: flex;
    padding-bottom: 50px;
    .date-box{
      margin-left: 45px;
      height: 30px;
    }
  }
  &__area{
    height: 30px;
    display: flex;
    padding-bottom: 50px;
    .area-box{
      margin-left: 45px;
      height: 30px;
    }
  }
  &__place{
    height: 30px;
    display: flex;
    padding-bottom: 50px;
    .postal-box{
      padding-left: 5px;
      margin-left: 60px;
      width: 90px;
      height: 30px;
    }
    .place-box{
      padding-left: 5px;
      margin-left: 10px;
      width: 640px;
      height: 30px;
    }
  }
  &__venue{
    height: 30px;
    display: flex;
    padding-bottom: 50px;
    .venue-box{
      padding-left: 5px;
      margin-left: 45px;
      width: 300px;
      height: 30px;
    }
  }
  &__capacity{
    height: 30px;
    display: flex;
    padding-bottom: 50px;
    .capacity-box{
      padding-left: 5px;
      margin-left: 60px;
      width: 60px;
      height: 30px;
    }
  }
  &__remarks{
    display: flex;
    padding-bottom: 50px;
    .remarks-box{
      padding-left: 5px;
      margin-left: 60px;
      width: 740px;
      height: 300px;
    }
  }
  &__upload{
    padding-left: 400px;
    .upload-box{
      height: 50px;
      width: 100px;
      background-color: white;
  
    }
  }
}

.post-done{
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-bottom: 100px;
  &__success{
    font-size: 40px;
    line-height: 100px;
    padding: 40px;
  }
  &__home{
    font-weight: bold;
    border: solid 3px #000000;
    width: 300px;
    margin: auto;
    width: 150px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 110px;
    .btn-root{
      color: black;
      text-decoration: none;
    }
  }
}


.show-content{
  width: 100%;
  &__show-title{
    height: 70px;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
  }
  &__show-application{
    height: 100px;
    text-align: center;
    .btn-application{
      background: #F6A623;
      color: white;
      padding: 12px 24px;
      font-weight: bold;
      border: none;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
      text-decoration: none;
      line-height: 100px;
    }
  }
  &__data{
    width: 600px;
    margin: auto;
    margin-bottom: 100px;
    font-size: 17px;
    font-weight: bold;
    &__show-name{
      height: 50px;
      border-top: solid 1px gray;
      padding: 12px 0;
    }
    &__show-date{
      height: 50px;
      border-top: solid 1px gainsboro;
      padding: 12px 0;
    }
    &__show-place{
      height: 50px;
      border-top: solid 1px gainsboro;
      padding: 12px 0;
    }
    &__show-venue{
      height: 50px;
      border-top: solid 1px gainsboro;
      padding: 12px 0;
    }
    &__show-capacity{
      height: 50px;
      border-top: solid 1px gainsboro;
      padding: 12px 0;
    }
    &__show-remarks{
      border-top: solid 1px gainsboro;
      padding-top: 12px;
      display: flex;
      &__title{
        width: 67px;
        margin-left: 33px;
      }
      &__write{
        padding-left: 20px;
      }
    }
  }
}