.message{
  height: 760px;
  width: 100%;
  padding: 40px 500px 40px 500px;
  background-color: beige;
  &__message-header{
    width: 100%;
    padding: 20px;
    border-bottom: solid 2px #ddd;
    &__header-name{
      text-align: center;
      font-size: 25px;
      a{
        text-decoration: none;
      }
    }
  }
  &__main-chat{
    padding-top: 10px;
    padding-bottom: 30px;
    height: 550px;
    &__message-post{
      padding-bottom: 20px;
      padding: 10px;
      height: 100%;
      overflow: scroll;
      &__upper-info{
        display: flex;
        &__name{
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
          a{
            text-decoration: none;
          }
        }
        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
    }
    &__text{
      color: #434a54;
      font-size: 14px;
    }
  }
  &__form{
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    display: flex;
    margin-bottom: 10px;
    &__comment{
      .new_message{
        display: flex;
      }
      .text{
        width: 530px;
        height: 50px;
        padding-left: 10px;
      }
    }
  }
}
.btn--send{
  padding: 0.5em;
  color: #fff !important;
  background: #00913D;
  text-decoration: none;
  font-weight: bold;
  font-size:16px;
  border-radius: 3px;
  text-align:center;
  text-decoration:none !important;
  cursor: pointer;
}


.room-top{
  text-align: center;
  height: 70px;
  width: 100%;
  font-size: 50px;
  margin-bottom: 40px;
  // background-color: gainsboro;
}
.name-form{
  height: 70px;
  width: 250px;
  // background-color: honeydew;
  margin: auto;
  display: flex;
  &__icon-box{

  }
  &__text-box{
    
  }
}
.room-list{
  height: 150px;
  width: 700px;
  background-color: indianred;
  margin: auto;
  display: flex;
  margin-bottom: 30px;
  &__image{
    width: 150px;
    background-color: lemonchiffon;
  }
  &__talk-box{
    line-height: 75px;
    &__name{
      background-color: lightblue;
      height: 50%;
      
    }
    &__last-talk{
      height: 50%;
      width: 550px;
      background-color: lightgreen;
    }
  }
}