.name-box{
  width: 100%;
  height: 100%;
  text-align: center;
  
  &__picture{
    line-height: 150px;
    margin: auto;
    margin-top: 30px;
    img{
      // width: 200px;
      // height: 300px;
    }
  }
}

.user-content{
  width: 600px;
  margin: auto;
  margin-bottom: 100px;
  font-size: 17px;
  font-weight: bold;
  &__profile{
    height: 50px;
    // border-top: solid 1px gray;
    padding: 12px 0;
    // text-align: center;
    display: flex;
    &__title{
      margin: auto;
    }
    &__icon{
      .btn-edit{
        color: black;
      }
    }

  }
  &__activity{
    height: 50px;
    border-top: solid 1px gray;
    padding: 12px 0;

  }
  &__sex{
    height: 50px;
    border-top: solid 1px gainsboro;
    padding: 12px 0;
  }
  &__age{
    height: 50px;
    border-top: solid 1px gainsboro;
    padding: 12px 0;
  }
  &__birthday{
    height: 50px;
    border-top: solid 1px gainsboro;
    padding: 12px 0;
  }
  &__position{
    height: 50px;
    border-top: solid 1px gainsboro;
    padding: 12px 0;
  }
  &__introduction{
    border-top: solid 1px gainsboro;
    padding-top: 12px;
    display: flex;
    &__text-name{
      width: 150px;
      padding-left: 33px;
    }
    &__text-box{
      padding-left: 22px;
    }
  }
}

.account-page{
  width: 100%;
  height: 100%;
  &__top{
    text-align: center;
    background: #F3F7FC;
    height: 60px;
    font-weight: bold;
    line-height: 60px;
    font-size: 20px;
    margin-top: 20px;
  }
  &__content{
    width: 450px;
    margin: auto;
    font-size: 20px;
    padding: 24px;
    border: solid 1px #DDD;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 40px;
    &__photo{
      padding-left: 170px;
      .fa-image{
        font-size: 40px;
        cursor: pointer;
      }
      input{
        display: none;
      }
    }
    &__profile-name{

    }
    &__profile-activity{

    }
    &__profile-sex{

    }
    &__profile-age{
      
    }
    .age-box{
      width: 50px;
    }
    &__profile-birthday{

    }
    &__profile-position{

    }
    &__profile-introduction{

    }
    .introduction-box{
      width: 400px;
    }
    &__profile-submit{
      text-align: center;
      margin-bottom: 40px;
      
      .btn-submit{
        border-radius: 4px;
        background: #1C6CC1;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
        color: white;
        padding: 2px;
        cursor: pointer;
      }
    }
  }
}

.logout-btn{
  float: right;
}

#oppai{
  background-color: red;
}

.top-page{
  background-image: image-url("start.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  width:100vw;
  height:100vh;
  padding-top: 380px;
  font-size: 40px;
  &__box{
    height: 200px;
    width: 800px;
    margin-left: auto;
    
    &__title{
      margin-bottom: 30px;
      color: blanchedalmond;
      font-size: 50px;
    }
    &__login{
      
    }
    
  }
}

// 新規登録
.wrapper-registrations{
  height: 100vh;
  width: 100vw;
  background: #ccc;
  &__title{
    // padding-left: 50px;
    font-size: 70px;
    padding-top: 100px;
    background-color: rosybrown;
    font-family: 'Amatic SC', cursive;
    text-align: center;
  }
  &__user-registrations{
    text-align: center;
  }
}

// ログイン
.login-form{
  text-align: center;
  margin: 300px;
}

#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #ef3f98;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}