.header
  .header__header-bar
    .header__header-bar__title
      = link_to posts_path, class: "btn-root" do
        Matching Baseball
    .header__header-bar__box
      .header__header-bar__box__post
        = link_to  new_post_path, class: "btn-post" do
          募集する
      .header__header-bar__box__user
        .dropdown
          %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            = current_user.name
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li{:role => "presentation"}
              %a{:href => user_path(current_user)} マイページ
            %li{:role => "presentation"}
              %a{:href => "#"} リンクのリスト２
            %li{:role => "presentation"}
              = link_to "ログアウト", destroy_user_session_path, method: :delete