.recruitment
  .recruitment__content
    .recruitment__content__title 
      初心者大歓迎
    .recruitment__content__name
      募集者 : 
      = link_to "#", class: "user--edit" do
        -# = post.user.name
        
    .recruitment__content__date
      開催日 : 
      2020年3月13日
    .recruitment__content__place
      エリア : 
      東京
    .recruitment__content__application-btn
      = link_to "#", class: "btn--edit" do
        詳細を見る
  